<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Layouts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg" style="background: #ecf0f3;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <a class="btn btn-link" role="button" onclick="history.go(-1)"><img th:src="@{/img/arrow2.png}"
                                                                                    alt="назад" width="30" height="24"
                                                                                    src=""></a>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mx-5" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-0 mb-lg-0 ms-0 ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/books/page/' + ${1}}">Книги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/authors}">Авторы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/genres}">Жанры</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/registration}"
                           sec:authorize="!isAuthenticated()">Регистрация</a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false" sec:authorize="hasRole('ADMIN')">
                            Администрирование
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/links}"
                                   sec:authorize="hasRole('ADMIN')">Ссылка на книгу</a></li>
                            <li><a class="dropdown-item" th:href="@{/covers}"
                                   sec:authorize="hasRole('ADMIN')">Обложки книг</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" th:href="@{/users}"
                                   sec:authorize="hasRole('ADMIN')">Пользователи</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}" sec:authorize="isAuthenticated()">Выход</a>
                    </li>
                </ul>


                <div th:if="${bookNameFilter}">
                    <form class="d-flex" role="search" method="post" th:action="@{/books}"
                          th:object="${bookNameFilter}">
                        <input class="form-control me-2" type="search"
                               placeholder="Поиск" aria-label="Поиск" th:field="*{match}">
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>
                </div>
                <div th:if="${authorNameFilter}">
                    <form class="d-flex" role="search" method="post" th:action="@{/authors}"
                          th:object="${authorNameFilter}">
                        <input class="form-control me-2" type="search"
                               placeholder="Поиск" aria-label="Поиск" th:field="*{match}">
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>
                </div>
                <div th:if="${genreNameFilter}">
                    <form class="d-flex" role="search" method="post" th:action="@{/genres}"
                          th:object="${genreNameFilter}">
                        <input class="form-control me-2" type="search"
                               placeholder="Поиск" aria-label="Поиск" th:field="*{match}">
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>


<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Created by Pominov 2022 &copy;:
        <a class="text-white" href="https://github.com/Pominov7/StudentsApplication/tree/master/src/main">GitHub</a>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</body>
</html>