<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Book library</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
<body>
<div class="wrapper">
    <div class="top">
        <div class="container mt-auto">
            <header th:insert="layout/layouts.html :: header "></header>
            <br>
            <div class="container text-center">
                <!-- Сообщение о результате выполненной операции -->
                <div th:if="${message != null}"
                     class="alert alert-success alert-dismissible fade show text-center message"
                     role="alert">
                    [[${message}]]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть">
                    </button>
                </div>

                <table class="table align-middle table-bordered table-hover table-sm caption-top">
                    <caption class="container text-center">Список книг</caption>
                    <thead class="table-secondary">
                    <tr>
                        <th>#</th>
                        <th>Название книги</th>
                        <th>Автор</th>
                        <th>Жанр</th>
                        <th sec:authorize="hasRole('ADMIN')">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="book,itemStat : ${books}">
                        <td th:text="${itemStat.index}+1"></td>

                        <td>
                            <div class="container text-center" style="width: 10rem; color: #000000;">
                                <a class="text-decoration-none" th:href="@{'/books/details/' + ${book.id}}">[[${book.getTitle()}]]</a>
                            </div>
                        </td>
                        <td class="fs-6" th:if="${book.author != null}">[[${book.getAuthor()}]]</td>
                        <td class="fs-6" th:if="${book.author == null}">Unknown author</td>
                        <td class="fs-6" th:if="${book.genre != null}">[[${book.getGenre().getName()}]]</td>
                        <td class="fs-6" th:if="${book.genre == null}">No genre</td>
                        <td class="text-table" sec:authorize="hasRole('ADMIN')">
                            <!-- Выпадающий список для администрирования (колонка "Действия")  -->
                            <div class="dropdown " sec:authorize="hasRole('ADMIN')">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    редактор
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" th:href="@{'/books/edit/' + ${book.id}}"
                                           sec:authorize="hasRole('ADMIN')">Редактировать</a></li>
                                    <li><a class="dropdown-item" th:href="@{'/books/delete/' + ${book.id}}"
                                           sec:authorize="hasRole('ADMIN')">Удалить</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" th:href="@{/books/addBook}"
                                           sec:authorize="hasRole('ADMIN')">Добавить новую книгу</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>


                <nav aria-label="Pagination">
                    <ul class="pagination justify-content-center" th:if="${totalPages > 1}">
                        <li class="page-item disabled">
                            <span class="page-link" th:if="${currentPage==1}">&laquo;</span></li>
                        <li class="page-item"><a class="page-link" th:if="${currentPage!=1}"
                                                 th:href="@{'/books/page/'+${currentPage - 1}}">
                            <span aria-hidden="true">&laquo;</span></a></li>
                        <li class="page-item " th:each="i: ${#numbers.sequence(1,totalPages)}">
                            <a class="page-link" th:if="${currentPage!=i}" th:href="@{'/books/page/'+${i}}">[[${i}]]</a>
                            <span class="page-link disabled" th:unless="${currentPage!=i}">[[${i}]]</span>
                        </li>
                        <li class="page-item"><a class="page-link" th:if="${currentPage < totalPages}"
                                                 th:href="@{'/books/page/'+${currentPage + 1}}">
                            <span aria-hidden="true">&raquo;</span></a>
                            <span class="page-link disabled" aria-hidden="true" th:unless="${currentPage < totalPages}">&raquo;</span>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

    <footer th:insert="layout/layouts.html :: footer "></footer>
</div>
</body>
</html>