<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:object="${book}">[[${book.title}]]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body data-bs-spy="scroll" data-bs-target="#navbar-example">
<div class="wrapper">
    <div class="content">
        <header th:insert="layout/layouts.html :: header "></header>
        <br>
        <div class="container-fluid text-center " th:object="${book}">
            <!-- Информация о студенте-->
            <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <div class="col-sm-6">
                    <div class="card" style="width: 12rem;">
                        <!--                        <img th:src="@{${book.cover.urlCover}}" class="card-img-top" alt=" " height="400" src="">-->
                        <img th:src="@{${book.cover == null ? 'Cover None' : book.cover.urlCover}}"
                             class="card-img-top" alt=" " height="400" src="">
                        <div class="card-body">
                            <h6 class="card-title">[[${book.title}]]</h6>
                            <p class="card-text"><span class="fw-bolder">Автор:</span>
                                <span th:text="${book.author == null ? 'NONE' : book.author.toString()}"></span></p>
                        </div>
                    </div>
                </div>

                <!--                 Описание книги-->
                <div class="col-sm-6">
                    <div class="card" style="width: 30rem; height: 100%; font-size: x-small; text-align: left">
                        <div class="card-body">
                            <h2>Описание:</h2>
                            <div class="text-sm-start">
                                <p class="fst-italic" th:text="${book.description}"></p>
                            </div>
                            <div th:if="${book.link != null}"><h6>Скачать книгу:<a th:href="${book.link.linkDownload}">
                                [[${book.getLink().getNameLink()}]]</a></h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Text</th>
                <th>Author</th>
                <th sec:authorize="hasRole('ADMIN')">Actions</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="comment" type="ru.otus.homework.domain.Comment"*/-->
            <tr th:each="comment,itemStat : ${comments}">
                <td th:text="${itemStat.index}+1"></td>
                <td th:text="${comment.text}"></td>
                <td th:text="${comment.user.username}"></td>
                <td sec:authorize="hasRole('ADMIN')">
                    <form method="post" th:action="@{/comments/delete/__${comment.id}__}">
                        <a role="button" class="btn btn-secondary btn-sm" th:href="@{/comments/edit/__${comment.id}__}">Edit</a>
                        <button class="btn btn-secondary btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <form th:action="@{/comments/addComment}">
            <input name="bookId" th:value="__${book.id}__" type="hidden">
            <button class="btn btn-primary">Добавить новый комментарий</button>
        </form>
        <a th:href="@{/books}">Вернуться к списку книг</a>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</body>
</html>