
.title-comments {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, .87);
    margin-bottom: 1rem;
    padding-bottom: .25rem;
    border-bottom: 1px solid rgba(34, 38, 37, 0.15);
}

.media-left img {
    width: 50px;
}

.media {
    margin-top: 0px;
}

ul {
    /*list-style-type: "✔";*/
    list-style-type: none;
}


.replyBtn {

    margin-left: 89%;
    border: none;
    color: #101b85;
    font-size: 16px;
    /*text-align: left;*/
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    transition: 1s; /* Время эффекта */
    text-align: center;
}

.replyBtn:hover {
    transform: scale(1.5); /* Увеличиваем масштаб */
}