<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Cover</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<body>
<div class="container mt-5">
    <div class="container text-center">
        <h3 class="h3" th:if="${cover.id}">Редактирование обложки</h3>
    <h3 class="h3" th:unless="${cover.id}">Новая обложка</h3>
        </div>
    <form action="#" method="post" th:action="@{/covers/addCover}" th:object="${cover}">
        <input th:field="*{id}" type="hidden">
        <div class="form-group">
            <label for="nameCover"><em>Название обложки</em></label>
            <input class="form-control" id="nameCover" th:field="*{nameCover}" type="text">
            <!-- валидация названия обложки -->
            <p class="error" th:if="${#fields.hasErrors('nameCover')}" th:errors="*{nameCover}">Name cover Error</p>
        </div>
        <br>
        <div class="form-group">
            <label for="urlCover"><em>Адрес расположения обложки</em></label>
            <input class="form-control" id="urlCover" th:field="*{urlCover}" type="text">
            <!-- валидация пути к обложке -->
            <p class="error" th:if="${#fields.hasErrors('urlCover')}" th:errors="*{urlCover}">Path to the cover Error</p>
        </div>
        <br>
        <button>Сохранить</button>
        <!-- кнопка отмены -->
        <button><a th:href="@{/covers}" class="text">Отмена</a></button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>


</body>

</html>