<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Cover</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<body>
<div class="container mt-5">
    <h1 class="h1" th:unless="${cover.id}">New Cover</h1>
    <form action="#" method="post" th:action="@{/covers/addCover}" th:object="${cover}">
        <input th:field="*{id}" type="hidden">
        <div class="form-group">
            <label for="nameCover">Название обложки</label>
            <input class="form-control" id="nameCover" th:field="*{nameCover}" type="text">
            <!-- валидация названия обложки -->
            <p class="error" th:if="${#fields.hasErrors('nameCover')}" th:errors="*{nameCover}">Name cover Error</p>

        </div>
        <div class="form-group">
            <label for="urlCover">Адрес расположения обложки</label>
            <input class="form-control" id="urlCover" th:field="*{urlCover}" type="text">
            <!-- валидация пути к обложке -->
            <p class="error" th:if="${#fields.hasErrors('urlCover')}" th:errors="*{urlCover}">Path to the cover Error</p>

        </div>
        <button>Сохранить</button>
    </form>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>