<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Link</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<body>
<div class="container mt-auto">
    <header th:insert="layout/layouts.html :: header "></header>
    <br>
    <div class="container text-center">
        <table class="table table-hover table-sm caption-top">
            <caption class="container text-center">Список ссылок</caption>
            <thead class="table-secondary">
        <tr>
            <th>#</th>
            <th>Название ссылки</th>
            <th>Адрес</th>
            <th sec:authorize="hasRole('ADMIN')">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="link,itemStat : ${links}">
            <td th:text="${itemStat.index}+1"></td>
            <td>[[${link.getNameLink()}]]</td>
            <td>[[${link.getLinkDownload()}]]</td>

            <td>
                <a th:href="@{'/links/edit/' + ${link.id}}" class="btn btn-secondary btn-sm"
                sec:authorize="hasRole('ADMIN')">Edit</a>
                <a th:href="@{'/links/delete/' + ${link.id}}" class="btn btn-secondary btn-sm"
                   sec:authorize="hasRole('ADMIN')" >Delete</a>
            </td>

            <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" th:href="@{/links/addLink}">Добавить новую ссылку</a>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>